#!/usr/bin/make -f

override_dh_auto_install:
	dh_auto_install

	mkdir -p $(CURDIR)/debian/homegear-enocean/etc/homegear/families
	cp -R $(CURDIR)/misc/Config\ Directory/* $(CURDIR)/debian/homegear-enocean/etc/homegear/families
	chmod 755 $(CURDIR)/debian/homegear-enocean/etc/homegear/families
	chmod 644 $(CURDIR)/debian/homegear-enocean/etc/homegear/families/*

	mkdir -p $(CURDIR)/debian/homegear-enocean/etc/homegear/devices/15
	cp -R $(CURDIR)/misc/Device\ Description\ Files/* $(CURDIR)/debian/homegear-enocean/etc/homegear/devices/15
	chmod 755 $(CURDIR)/debian/homegear-enocean/etc/homegear/devices/15
	chmod 644 $(CURDIR)/debian/homegear-enocean/etc/homegear/devices/15/*

	mkdir -p $(CURDIR)/debian/homegear-enocean/var/lib/homegear/admin-ui/translations/modules/enocean
	cp -R $(CURDIR)/misc/UI\ Translations/* $(CURDIR)/debian/homegear-enocean/var/lib/homegear/admin-ui/translations/modules/enocean
	chown -R root:root $(CURDIR)/debian/homegear-enocean/var/lib/homegear/admin-ui/translations/modules/enocean
	chmod -R 555 $(CURDIR)/debian/homegear-enocean/var/lib/homegear/admin-ui/translations/modules/enocean

override_dh_strip:
	dh_strip

%:
	dh $@ --parallel
